<!-- for message start -->
<p-toast class="custom-toast"></p-toast>
<!-- for message end -->

<section id="Customers-sections">

  <div class="content-section implementation ui-fluid">
    <p-table var="customer" #dt [columns]="cols" [value]="adminCustomerListDAO" selectionMode="multiple"
      [(selection)]="selectedCustomers" [lazy]="true" (onLazyLoad)="loadcustomersLazy($event, dt)" autoLayout="true"
      [paginator]="true" [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
      columnResizeMode="expand" [totalRecords]="totalRecords" [rows]="10" [loading]="loading"
      [exportFilename]="exportName" stateStorage="local" stateKey="adminCustomerListDAO-local">

      <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix" style="text-align: left">
          <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="exportCsv();"
            style="margin-right: 0.5em; width:auto"></button>
          <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportToExcel()"
            style="margin-right: 0.5em; width:auto" class="ui-button-success"></button>
          <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()"
            class="ui-button-warning" style="width:auto"></button>
          <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="RESET FILTER"
            (click)="resetDataTable(dt)" class="ui-button-danger" style="width:auto"></button>
          <input type="text" pInputText size="50" placeholder="Global Filter"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto; float:right">
          <i class="fa fa-search" style="margin:4px 4px 0 0; float:right"></i>
          <p-button (click)="showBasicDialog()" icon="pi pi-external-link" label="Show"></p-button>
        </div>
      </ng-template>



      <ng-template pTemplate="header" let-columns>
        <tr>
          <th [pSortableColumn]="'code'" pResizableColumn>
            Id
            <p-sortIcon [field]="'code'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'full_Name'" pResizableColumn>
            Name
            <p-sortIcon [field]="'full_Name'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'email'" pResizableColumn>
            Email
            <p-sortIcon [field]="'email'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'phone'" pResizableColumn>
            Phone
            <p-sortIcon [field]="'phone'"></p-sortIcon>
          </th>
          <th>
            Document
          </th>
          <th [pSortableColumn]="'documents.documnet_No'" pResizableColumn>
            Document No.
            <p-sortIcon [field]="'documents.documnet_No'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'phone'" pResizableColumn>
            Saved card?
            <p-sortIcon [field]="'phone'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'phone'" pResizableColumn>
            Wallet
            <p-sortIcon [field]="'phone'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'phone'" pResizableColumn>
            Debt
            <p-sortIcon [field]="'phone'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'ridesCount'" pResizableColumn>
            Rides
            <p-sortIcon [field]="'ridesCount'"></p-sortIcon>
          </th>
          <th>
            Charge
          </th>
          <th>
            Debt Charge
          </th>
          <th>
            Bonus
          </th>
          <th>
            Block
          </th>
          <th>
            Delete
          </th>
        </tr>
        <!-- <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input *ngSwitchCase="'full_Name'" pInputText type="text"
            (input)="dt.filter($event.target.value, col.field, 'contains')" [value]="dt.filters[col.field]?.value">
          <input *ngSwitchCase="'email'" pInputText type="text"
            (input)="dt.filter($event.target.value, col.field, 'contains')" [value]="dt.filters[col.field]?.value">
          <input *ngSwitchCase="'phone'" pInputText type="text"
            (input)="dt.filter($event.target.value, col.field, 'contains')" [value]="dt.filters[col.field]?.value">
          <p-calendar *ngSwitchCase="'created_at'" [(ngModel)]="date" [readonlyInput]="true" dateFormat="dd.mm.yy"
            [showButtonBar]="true" (onSelect)="dt.filter($event, 'DateTime', 'my')" [showIcon]="true">
             -->
        <!--(onClearClick)="resetDate(dt)"-->

        <!-- </p-calendar>
          <div *ngIf="col.field === 'active'">
            <p-dropdown *ngSwitchCase="'active'" [options]="active" [style]="{'width':'100%'}"
              (onChange)="dt.filter($event.value, 'active', 'equals')"></p-dropdown>
          </div>
        </th>
      </tr> -->
      </ng-template>

      <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
        <tr [pSelectableRow]="customer" [pSelectableRowIndex]="rowIndex">
          <td>{{customer.code}}</td>
          <td>{{customer.full_Name}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.phone}}</td>
          <td>{{customer.documents.file_Name}}</td>
          <td>{{customer.documents.documnet_No}}</td>
          <td>yes</td>
          <td> {{customer.customer_Wallet.wallet_Amount }} SAR</td>
          <td>112.71 SAR</td>
          <td>{{customer.ridesCount}}</td>
          <td>
            <!-- <button pButton type="button" title="Charge" class="ui-button-danger" style="font-size: 0.6em"
              (click)="Details(customer.Id)">
            </button> -->
            <button pButton pRipple type="button" label="Charge" class="p-button-raised p-button-danger">
            </button>
          </td>
          <td>
            <button pButton pRipple type="button" label="Charge 112.71 SAR" class="p-button-raised p-button-danger">
            </button>
          </td>
          <td>
            <button pButton pRipple type="button" label="Add Bonus" class="p-button-raised p-button-success">
            </button>
          </td>
          <td>
            <button pButton pRipple type="button" label="Block" class="p-button-raised p-button-danger">
            </button>
          </td>
          <td>
            <button pButton pRipple type="button" label="Delete" class="p-button-raised p-button-danger">
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <ul>
          <li *ngFor="let customer of selectedCustomers" style="text-align: left">
            {{
              customer.code + ' - ' + customer.full_Name + ' - ' + customer.email + ' - ' + customer.phone + ' - ' + customer.documents.file_Name
              + ' - ' + customer.documents.documnet_No+ ' - ' + customer.ridesCount
              + ' - ' + customer.customer_Wallet.wallet_Amount 
            }}
          </li>
        </ul>
      </ng-template>
    </p-table>
  </div>




  <!-- -----------start date end date filter start----->

  <p-dialog header="Header" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">

    <div class="p-fluid p-grid p-formgrid">
      <div class="p-field p-col-12 p-md-4">
        <label for="range">Range</label>
        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range"
          dateFormat="dd-mm-yy">

        </p-calendar>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="getRecordByDateRange();" label="Submit" styleClass="p-button-text">
      </p-button>
      <p-button icon="pi pi-times" (click)="displayBasic=false" label="Cancel"></p-button>
    </ng-template>

  </p-dialog>
  <!-- -----------start date end date filter end----->
</section>
