<!-- for message start -->
<p-toast class="custom-toast"></p-toast>
<!-- for message end -->


<h5>Add Merchant</h5>
<div class="card">
  <section class="add-merchant-section">
    <form [formGroup]="saveMerchantDataForm" (ngSubmit)="onSubmitMerchantData()" novalidate>
      <div class="row">
        <div class="col-md-6 input-field">
          <div class="p-fluid p-grid">
            <div class="p-field">
              <span class="p-float-label">
                <input type="text" formControlName="brandName" name="brandName" id="txtbrandName" pInputText
                  [(ngModel)]="value1">
                <label for="txtbrandName">Brand Name</label>
              </span>

              <div *ngIf="saveMerchantDataForm.controls['brandName'].touched &&
              saveMerchantDataForm.controls['brandName'].invalid" class=" text-danger">
                <div *ngIf="saveMerchantDataForm.controls['brandName'].errors &&
                saveMerchantDataForm.controls['brandName'].errors.required">
                  Brand name is required.
                </div>
              </div>

            </div>
          </div>


        </div>
        <div class="col-md-6 input-field">
          <div class="p-fluid p-grid">
            <div class="p-field">
              <span class="p-float-label">
                <input type="text" formControlName="Email" id="txtemail" pInputText [(ngModel)]="value2">
                <label for="txtemail">Email</label>
              </span>

              <div *ngIf="saveMerchantDataForm.controls['Email'].touched &&
              saveMerchantDataForm.controls['Email'].invalid" class=" text-danger">
                <div *ngIf="saveMerchantDataForm.controls['Email'].errors &&
                saveMerchantDataForm.controls['Email'].errors.required">
                  Email name is required.
                </div>
                <div *ngIf="saveMerchantDataForm.controls['Email'].errors.email">
                  Invalid Email.
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-6 input-field">
          <div class="p-fluid p-grid">
            <div class="p-field">
              <span class="p-float-label">
                <input type="text" formControlName="userName" id="txtUserName" pInputText [(ngModel)]="value3">
                <label for="txtUserName">User name</label>
              </span>

              <div *ngIf="saveMerchantDataForm.controls['userName'].touched &&
              saveMerchantDataForm.controls['userName'].invalid" class=" text-danger">
                <div *ngIf="saveMerchantDataForm.controls['userName'].errors &&
                saveMerchantDataForm.controls['userName'].errors.required">
                  Usetr name is required.
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-6 input-field">
          <div class="p-fluid p-grid">
            <div class="p-field">
              <span class="p-float-label">
                <!-- <input type="text" formControlName="phoneNumber" id="txtphoneNumber" pInputText [(ngModel)]="value4">
                  <label for="txtphoneNumber">Phone Number</label> -->

                <!-- <label _ngcontent-dmq-c2="" for="phoneNumberVal">Phone Number</label> -->
                <p-inputMask mask="(+92) 999-9999999" [(ngModel)]="phoneNumberVal" placeholder="(+92) 999-9999999"
                  formControlName="phoneNumber">
                </p-inputMask>
              </span>

              <div *ngIf="saveMerchantDataForm.controls['phoneNumber'].touched &&
              saveMerchantDataForm.controls['phoneNumber'].invalid" class=" text-danger">
                <div *ngIf="saveMerchantDataForm.controls['phoneNumber'].errors &&
                saveMerchantDataForm.controls['phoneNumber'].errors.required">
                  Phone number is required.
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-12 input-field">
          <div class="p-fluid p-grid">
            <div class="p-field">
              <span class="p-float-label">
                <input type="text" formControlName="Address" id="txtaddress" pInputText [(ngModel)]="value5">
                <label for="txtaddress">Address</label>
              </span>

              <div *ngIf="saveMerchantDataForm.controls['Address'].touched &&
              saveMerchantDataForm.controls['Address'].invalid" class=" text-danger">
                <div *ngIf="saveMerchantDataForm.controls['Address'].errors &&
                saveMerchantDataForm.controls['Address'].errors.required">
                  Address is required.
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-12 input-field">

          <p-fileUpload name="myFile[]" customUpload="true" (uploadHandler)="myUploader($event)" accept="image/*"
            multiple="multiple" maxFileSize="5000000"></p-fileUpload>

        </div>
        <div class="col-md-12 float-right">
          <div class="form-group float-right">
            <button class="btn btn-primary" [disabled]="!saveMerchantDataForm.valid">Add Merchant</button>
          </div>
        </div>

      </div>
    </form>
  </section>
</div>
