<!-- for message start -->
<p-toast class="custom-toast"></p-toast>
<!-- for message end -->

<div class="card">
  <h5>Transactions List</h5>
  <p-tabView styleClass="tabview-custom">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-calendar"></i>
        <span>Transactions</span>
      </ng-template>
      <!-- ---------------Transactions Start --------->
      <section class="transactions-list">
        <div class="row">
          <div class="col-md-12">
            <!-- Cashback Content Start---------- -->
            <p-table #dt1 [value]="lstTransactionListAFA" [(selection)]="lstTransactionListAFA" dataKey="id"
              styleClass="p-datatable-lstTransactionListAFA" [rowHover]="true" [rows]="10"
              [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
              [globalFilterFields]="['createDate','fullName','brandName','paymentModeTitle','transactionModeTitle','transactionTypeTitle','amount']">
              <ng-template pTemplate="caption">
                <div class="table-header">
                  List of Transactions
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                      placeholder="Search..." />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <!-- <th style="width: 3rem"></th> -->
                  <th pSortableColumn="createDate">Date <p-sortIcon field="createDate"></p-sortIcon>
                  </th>
                  <th pSortableColumn="brandName">Brand <p-sortIcon field="brandName"></p-sortIcon>
                  </th>
                  <th pSortableColumn="fullName">Customer <p-sortIcon field="fullName">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="paymentModeTitle">Pay Mode <p-sortIcon field="paymentModeTitle"></p-sortIcon>
                  </th>
                  <th pSortableColumn="transactionModeTitle">Transaction Mode <p-sortIcon field="transactionModeTitle">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="transactionTypeTitle">Credit <p-sortIcon field="transactionTypeTitle">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="transactionTypeTitle">Debit <p-sortIcon field="transactionTypeTitle">
                    </p-sortIcon>
                  </th>
                  <!-- <th pSortableColumn="isCollect">Used <p-sortIcon field="date"></p-sortIcon>
                                 </th> -->
                  <!-- <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
                                          </th>
                                          <th pSortableColumn="activity">Activity <p-sortIcon field="activity"></p-sortIcon>
                                          </th>
                                          <th style="width: 8rem"></th> -->
                </tr>

              </ng-template>
              <ng-template pTemplate="body" let-lstTransactionListAFA>
                <tr class="p-selectable-row" *ngIf="lstTransactionListAFA.transactionTypeNumber==1">
                  <!-- <td>
                    <p-tableCheckbox [value]="lstCashbackListFA"></p-tableCheckbox>
                  </td> -->
                  <td>
                    {{lstTransactionListAFA.createDate | date:'dd-MMM-yyyy'}}
                  </td>
                  <td>
                    {{lstTransactionListAFA.brandName}}
                  </td>
                  <td>
                    {{lstTransactionListAFA.fullName}}
                  </td>
                  <td>
                    {{lstTransactionListAFA.paymentModeTitle}}
                  </td>
                  <td>
                    {{lstTransactionListAFA.transactionModeTitle}}
                  </td>
                  <td>
                    {{lstTransactionListAFA.amount}}
                  </td>
                  <td>
                    0
                  </td>
                  <!-- <td>
                                   {{lstCashbackListFA.isCollect}}
                                 </td> -->
                  <!-- <td>
                                            <span class="p-column-title">Activity</span>
                                            <p-progressBar [value]="lstCashbackListFA.activity" [showValue]="false"></p-progressBar>
                                          </td> -->
                  <!-- <td style="text-align: center">
                                            <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>
                                          </td> -->
                </tr>
                <tr class="p-selectable-row" *ngIf="lstTransactionListAFA.transactionTypeNumber==2">
                  <!-- <td>
                      <p-tableCheckbox [value]="lstCashbackListFA"></p-tableCheckbox>
                    </td> -->
                  <td>
                    {{lstTransactionListAFA.createDate | date:'dd-MMM-yyyy'}}
                  </td>
                  <td>
                    {{lstTransactionListAFA.brandName}}
                  </td>
                  <td>
                    {{lstTransactionListAFA.fullName}}
                  </td>
                  <td>
                    {{lstTransactionListAFA.paymentModeTitle}}
                  </td>
                  <td>
                    {{lstTransactionListAFA.transactionModeTitle}}
                  </td>
                  <td>
                    0
                  </td>
                  <td>
                    {{lstTransactionListAFA.amount}}
                  </td>
                  <!-- <td>
                    {{lstCashbackListFA.isCollect}}
                    </td> -->
                  <!-- <td>
                                              <span class="p-column-title">Activity</span>
                                              <p-progressBar [value]="lstCashbackListFA.activity" [showValue]="false"></p-progressBar>
                                            </td> -->
                  <!-- <td style="text-align: center">
                                              <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>
                                            </td> -->
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="8">No cashback found.</td>
                </tr>
              </ng-template>
            </p-table>
            <!-- Cashback Content End---------- -->
          </div>
        </div>
      </section>
      <!-- ---------------Transactions End-- --------->

    </p-tabPanel>
    <p-tabPanel header="Header II">
      <ng-template pTemplate="header">
        <i class="pi pi-user"></i>
        <span>Wallet To Bank</span>
      </ng-template>

      <!-- ---------------Wallet To Bank Start --------->
      <section class="transactions-list">
        <div class="row">
          <div class="col-md-12">
            <!-- Cashback Content Start---------- -->
            <p-table #dt1 [value]="lstTransactionListWTBAFA" [(selection)]="lstTransactionListWTBAFA" dataKey="id"
              styleClass="p-datatable-lstTransactionListWTBAFA" [rowHover]="true" [rows]="10"
              [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
              [globalFilterFields]="['createDate','fullName','brandName','paymentModeTitle','transactionModeTitle','transactionTypeTitle','amount']">
              <ng-template pTemplate="caption">
                <div class="table-header">
                  List of Wallet to Bank
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                      placeholder="Search..." />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <!-- <th style="width: 3rem"></th> -->
                  <th pSortableColumn="createDate">Date <p-sortIcon field="createDate"></p-sortIcon>
                  </th>
                  <th pSortableColumn="brandName">Brand <p-sortIcon field="brandName"></p-sortIcon>
                  </th>
                  <th pSortableColumn="fullName">Customer <p-sortIcon field="fullName">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="paymentModeTitle">Pay Mode <p-sortIcon field="paymentModeTitle"></p-sortIcon>
                  </th>
                  <th pSortableColumn="transactionModeTitle">Transaction Mode <p-sortIcon field="transactionModeTitle">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="transactionTypeTitle">Credit <p-sortIcon field="transactionTypeTitle">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="transactionTypeTitle">Debit <p-sortIcon field="transactionTypeTitle">
                    </p-sortIcon>
                  </th>
                  <!-- <th pSortableColumn="isCollect">Used <p-sortIcon field="date"></p-sortIcon>
                                 </th> -->
                  <!-- <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
                                          </th>
                                          <th pSortableColumn="activity">Activity <p-sortIcon field="activity"></p-sortIcon>
                                          </th>
                                          <th style="width: 8rem"></th> -->
                </tr>

              </ng-template>
              <ng-template pTemplate="body" let-lstTransactionListWTBAFA>
                <tr class="p-selectable-row" *ngIf="lstTransactionListWTBAFA.transactionTypeNumber==1">
                  <!-- <td>
                    <p-tableCheckbox [value]="lstCashbackListFA"></p-tableCheckbox>
                  </td> -->
                  <td>
                    {{lstTransactionListWTBAFA.createDate | date:'dd-MMM-yyyy'}}
                  </td>
                  <td>
                    {{lstTransactionListWTBAFA.brandName}}
                  </td>
                  <td>
                    {{lstTransactionListWTBAFA.fullName}}
                  </td>
                  <td>
                    {{lstTransactionListWTBAFA.paymentModeTitle}}
                  </td>
                  <td>
                    {{lstTransactionListWTBAFA.transactionModeTitle}}
                  </td>
                  <td>
                    {{lstTransactionListWTBAFA.amount}}
                  </td>
                  <td>
                    0
                  </td>
                  <!-- <td>
                                   {{lstCashbackListFA.isCollect}}
                                 </td> -->
                  <!-- <td>
                                            <span class="p-column-title">Activity</span>
                                            <p-progressBar [value]="lstCashbackListFA.activity" [showValue]="false"></p-progressBar>
                                          </td> -->
                  <!-- <td style="text-align: center">
                                            <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>
                                          </td> -->
                </tr>
                <tr class="p-selectable-row" *ngIf="lstTransactionListWTBAFA.transactionTypeNumber==2">
                  <!-- <td>
                      <p-tableCheckbox [value]="lstCashbackListFA"></p-tableCheckbox>
                    </td> -->
                  <td>
                    {{lstTransactionListWTBAFA.createDate | date:'dd-MMM-yyyy'}}
                  </td>
                  <td>
                    {{lstTransactionListWTBAFA.brandName}}
                  </td>
                  <td>
                    {{lstTransactionListWTBAFA.fullName}}
                  </td>
                  <td>
                    {{lstTransactionListWTBAFA.paymentModeTitle}}
                  </td>
                  <td>
                    {{lstTransactionListWTBAFA.transactionModeTitle}}
                  </td>
                  <td>
                    0
                  </td>
                  <td>
                    {{lstTransactionListWTBAFA.amount}}
                  </td>
                  <!-- <td>
                    {{lstCashbackListFA.isCollect}}
                    </td> -->
                  <!-- <td>
                                              <span class="p-column-title">Activity</span>
                                              <p-progressBar [value]="lstCashbackListFA.activity" [showValue]="false"></p-progressBar>
                                            </td> -->
                  <!-- <td style="text-align: center">
                                              <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>
                                            </td> -->
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="8">No wallet to bank found.</td>
                </tr>
              </ng-template>
            </p-table>
            <!-- Cashback Content End---------- -->
          </div>
        </div>
      </section>
      <!-- ---------------Wallet To Bank End-- --------->

    </p-tabPanel>
    <p-tabPanel header="Header III">
      <ng-template pTemplate="header">
        <i class="pi pi-search"></i>
        <span>Wallet To Wallet</span>
        <i class="pi pi-cog"></i>
      </ng-template>

      <!-- ---------------Wallet To Wallet Start --------->
      <section class="transactions-list">
        <div class="row">
          <div class="col-md-12">
            <!-- Cashback Content Start---------- -->
            <p-table #dt1 [value]="lstTransactionListWTWAFA" [(selection)]="lstTransactionListWTWAFA" dataKey="id"
              styleClass="p-datatable-lstTransactionListWTWAFA" [rowHover]="true" [rows]="10"
              [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
              [globalFilterFields]="['createDate','fullNameRec','fullNameSender','brandName','paymentModeTitle','transactionModeTitle','transactionTypeTitle','amount']">
              <ng-template pTemplate="caption">
                <div class="table-header">
                  List of Wallet to Bank
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                      placeholder="Search..." />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <!-- <th style="width: 3rem"></th> -->
                  <th pSortableColumn="createDate">Date <p-sortIcon field="createDate"></p-sortIcon>
                  </th>
                  <th pSortableColumn="paymentModeTitle">Pay Mode <p-sortIcon field="paymentModeTitle"></p-sortIcon>
                  </th>
                  <th pSortableColumn="transactionModeTitle">Transaction Mode <p-sortIcon field="transactionModeTitle">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="brandName">Brand <p-sortIcon field="brandName"></p-sortIcon>
                  </th>
                  <th pSortableColumn="fullNameSender">Sender Customer <p-sortIcon field="fullNameSender">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="fullNameRec">Reciever Customer <p-sortIcon field="fullNameRec">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="transactionTypeTitle">Credit <p-sortIcon field="transactionTypeTitle">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="transactionTypeTitle">Debit <p-sortIcon field="transactionTypeTitle">
                    </p-sortIcon>
                  </th>
                  <!-- <th pSortableColumn="isCollect">Used <p-sortIcon field="date"></p-sortIcon>
                                       </th> -->
                  <!-- <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
                                                </th>
                                                <th pSortableColumn="activity">Activity <p-sortIcon field="activity"></p-sortIcon>
                                                </th>
                                                <th style="width: 8rem"></th> -->
                </tr>

              </ng-template>
              <ng-template pTemplate="body" let-lstTransactionListWTWAFA>
                <tr class="p-selectable-row" *ngIf="lstTransactionListWTWAFA.transactionTypeNumber==1">
                  <!-- <td>
                          <p-tableCheckbox [value]="lstCashbackListFA"></p-tableCheckbox>
                        </td> -->
                  <td>
                    {{lstTransactionListWTWAFA.createDate | date:'dd-MMM-yyyy'}}
                  </td>
                  <td>
                    {{lstTransactionListWTWAFA.brandName}}
                  </td>
                  <td>
                    {{lstTransactionListWTWAFA.fullName}}
                  </td>
                  <td>
                    {{lstTransactionListWTWAFA.paymentModeTitle}}
                  </td>
                  <td>
                    {{lstTransactionListWTWAFA.transactionModeTitle}}
                  </td>
                  <td>
                    {{lstTransactionListWTWAFA.amount}}
                  </td>
                  <td>
                    0
                  </td>
                  <!-- <td>
                                         {{lstCashbackListFA.isCollect}}
                                       </td> -->
                  <!-- <td>
                                                  <span class="p-column-title">Activity</span>
                                                  <p-progressBar [value]="lstCashbackListFA.activity" [showValue]="false"></p-progressBar>
                                                </td> -->
                  <!-- <td style="text-align: center">
                                                  <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>
                                                </td> -->
                </tr>
                <tr class="p-selectable-row" *ngIf="lstTransactionListWTWAFA.transactionTypeNumber==2">
                  <!-- <td>
                            <p-tableCheckbox [value]="lstCashbackListFA"></p-tableCheckbox>
                          </td> -->
                  <td>
                    {{lstTransactionListWTWAFA.createDate | date:'dd-MMM-yyyy'}}
                  </td>
                  <td>
                    {{lstTransactionListWTWAFA.paymentModeTitle}}
                  </td>
                  <td>
                    {{lstTransactionListWTWAFA.transactionModeTitle}}
                  </td>
                  <td>
                    {{lstTransactionListWTWAFA.brandName}}
                  </td>
                  <td>
                    {{lstTransactionListWTWAFA.fullNameSender}}
                  </td>
                  <td>
                    {{lstTransactionListWTWAFA.fullNameRec}}
                  </td>
                  <td>
                    0
                  </td>
                  <td>
                    {{lstTransactionListWTWAFA.amount}}
                  </td>
                  <!-- <td>
                          {{lstCashbackListFA.isCollect}}
                          </td> -->
                  <!-- <td>
                                                    <span class="p-column-title">Activity</span>
                                                    <p-progressBar [value]="lstCashbackListFA.activity" [showValue]="false"></p-progressBar>
                                                  </td> -->
                  <!-- <td style="text-align: center">
                                                    <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>
                                                  </td> -->
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="8">No wallet to bank found.</td>
                </tr>
              </ng-template>
            </p-table>
            <!-- Cashback Content End---------- -->
          </div>
        </div>
      </section>
      <!-- ---------------Wallet To Wallet End-- --------->

    </p-tabPanel>
  </p-tabView>
</div>


<!-- -------------------------------------------------------------------------------- -->
<div class="card transactions-list">
  <h5>Transactions List</h5>
  <section class="transactions-list">
    <div class="row">
      <div class="col-md-12">
        <!-- Cashback Content Start---------- -->
        <p-table #dt1 [value]="lstTransactionListAFA" [(selection)]="lstTransactionListAFA" dataKey="id"
          styleClass="p-datatable-lstTransactionListAFA" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
          [globalFilterFields]="['createDate','fullName','brandName','paymentModeTitle','transactionModeTitle','transactionTypeTitle','amount']">
          <ng-template pTemplate="caption">
            <div class="table-header">
              List of Transactions
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                  placeholder="Search..." />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <!-- <th style="width: 3rem"></th> -->
              <th pSortableColumn="createDate">Date <p-sortIcon field="createDate"></p-sortIcon>
              </th>
              <th pSortableColumn="brandName">Brand <p-sortIcon field="brandName"></p-sortIcon>
              </th>
              <th pSortableColumn="fullName">Customer <p-sortIcon field="fullName">
                </p-sortIcon>
              </th>
              <th pSortableColumn="paymentModeTitle">Pay Mode <p-sortIcon field="paymentModeTitle"></p-sortIcon>
              </th>
              <th pSortableColumn="transactionModeTitle">Transaction Mode <p-sortIcon field="transactionModeTitle">
                </p-sortIcon>
              </th>
              <th pSortableColumn="transactionTypeTitle">Credit <p-sortIcon field="transactionTypeTitle"></p-sortIcon>
              </th>
              <th pSortableColumn="transactionTypeTitle">Debit <p-sortIcon field="transactionTypeTitle"></p-sortIcon>
              </th>
              <!-- <th pSortableColumn="isCollect">Used <p-sortIcon field="date"></p-sortIcon>
                             </th> -->
              <!-- <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
                                      </th>
                                      <th pSortableColumn="activity">Activity <p-sortIcon field="activity"></p-sortIcon>
                                      </th>
                                      <th style="width: 8rem"></th> -->
            </tr>

          </ng-template>
          <ng-template pTemplate="body" let-lstTransactionListAFA>
            <tr class="p-selectable-row" *ngIf="lstTransactionListAFA.transactionTypeNumber==1">
              <!-- <td>
                <p-tableCheckbox [value]="lstCashbackListFA"></p-tableCheckbox>
              </td> -->
              <td>
                {{lstTransactionListAFA.createDate | date:'dd-MMM-yyyy'}}
              </td>
              <td>
                {{lstTransactionListAFA.brandName}}
              </td>
              <td>
                {{lstTransactionListAFA.fullName}}
              </td>
              <td>
                {{lstTransactionListAFA.paymentModeTitle}}
              </td>
              <td>
                {{lstTransactionListAFA.transactionModeTitle}}
              </td>
              <td>
                {{lstTransactionListAFA.amount}}
              </td>
              <td>
                0
              </td>
              <!-- <td>
                               {{lstCashbackListFA.isCollect}}
                             </td> -->
              <!-- <td>
                                        <span class="p-column-title">Activity</span>
                                        <p-progressBar [value]="lstCashbackListFA.activity" [showValue]="false"></p-progressBar>
                                      </td> -->
              <!-- <td style="text-align: center">
                                        <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>
                                      </td> -->
            </tr>
            <tr class="p-selectable-row" *ngIf="lstTransactionListAFA.transactionTypeNumber==2">
              <!-- <td>
                  <p-tableCheckbox [value]="lstCashbackListFA"></p-tableCheckbox>
                </td> -->
              <td>
                {{lstTransactionListAFA.createDate | date:'dd-MMM-yyyy'}}
              </td>
              <td>
                {{lstTransactionListAFA.brandName}}
              </td>
              <td>
                {{lstTransactionListAFA.fullName}}
              </td>
              <td>
                {{lstTransactionListAFA.paymentModeTitle}}
              </td>
              <td>
                {{lstTransactionListAFA.transactionModeTitle}}
              </td>
              <td>
                0
              </td>
              <td>
                {{lstTransactionListAFA.amount}}
              </td>
              <!-- <td>
                {{lstCashbackListFA.isCollect}}
                </td> -->
              <!-- <td>
                                          <span class="p-column-title">Activity</span>
                                          <p-progressBar [value]="lstCashbackListFA.activity" [showValue]="false"></p-progressBar>
                                        </td> -->
              <!-- <td style="text-align: center">
                                          <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>
                                        </td> -->
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">No cashback found.</td>
            </tr>
          </ng-template>
        </p-table>
        <!-- Cashback Content End---------- -->
      </div>
    </div>
  </section>
</div>
